<section class="min-h-screen w-full flex flex-col bg-[url('assets/images/jpg/la-goule-incendie.webp')] bg-cover bg-center relative">
    <div class="absolute top-0 left-5" href>
        <a href="https://www.herault.gouv.fr/" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/svg/PREF_Herault_RVB.svg" alt="Logo" class="w-24 h-24 sm:w-40 sm:h-40" />
        </a>
    </div>

    <div class="absolute top-0 right-5">
        <a href="https://www.herault.gouv.fr/Services-de-l-Etat/Direction-Departementales-des-Territoires-et-de-la-Mer" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/svg/logo_ddtm_34.svg" alt="Logo DDTM" class="w-24 h-24 sm:w-40 sm:h-40" />
        </a>
    </div>

    <div class="flex flex-1 flex-col justify-center items-center px-2">
        <!-- Bloc texte centré verticalement avec le schéma -->
        <div class="text-center mb-5 sm:mb-10">
            <p class="font-bold text-xl max-w-2xl mx-auto my-0 text-black sm:text-4xl sm:my-1">TOUS RÉSILIENTS FACE AUX</p>
            <p class="font-bold text-2xl max-w-2xl mx-auto my-0 text-etat sm:text-6xl sm:my-1">RISQUES NATURELS</p>
            <p class="font-bold text-xl max-w-2xl mx-auto my-0 text-black sm:text-4xl sm:my-2">DANS L’HÉRAULT</p>
        </div>

        <!-- Partie schéma alignée sous les titres, responsive -->
        <div class="w-full max-w-2xl flex flex-col items-center">
            <div class="flex flex-col sm:flex-row justify-center items-center gap-0 sm:gap-12 mb-2">
                <p class="text-center text-base font-semibold w-50 mb-0 sm:text-xl sm:mb-1">ALÉA</p>
                <span class="w-8 hidden sm:inline"></span>
                <p class="text-center text-base font-semibold w-20 mb-0 hidden sm:text-xl sm:mb-1 sm:block">ENJEU</p>
                <span class="w-8 hidden sm:inline"></span>
                <p class="text-center text-base font-semibold w-50 hidden sm:text-xl sm:block">RISQUE</p>
            </div>
            <div class="flex flex-col sm:flex-row items-center justify-center gap-0 sm:gap-8">
                <img src="assets/images/svg/schema_risques/risque_1.svg" alt="aléa" class="w-20 h-20 sm:w-50 sm:h-50" />
                <span class="text-2xl sm:text-4xl font-bold">+</span>
                <p class="text-center text-base sm:text-xl font-semibold w-20 mb-1 sm:mb-0 sm:hidden">ENJEU</p>
                <img src="assets/images/svg/schema_risques/risque_2.svg" alt="enjeu" class="w-20 h-20 sm:w-50 sm:h-50" />
                <span class="text-4xl font-bold sm:block hidden">=</span>
                <span class="text-2xl font-bold sm:hidden">↓</span>
                <p class="text-center text-base font-semibold w-20 sm:hidden sm:text-xl">RISQUE</p>
                <img src="assets/images/svg/schema_risques/risque.svg" alt="risque" class="w-20 h-20 sm:w-50 sm:h-50" />
            </div>
        </div>
    </div>
</section>