<div class="flex flex-col items-center justify-center min-h-[450px]">
  <div class="w-[365px] sm:w-[650px] aspect-video overflow-hidden video-container relative">
    <iframe
      #youtubePlayerFeux
      id="youtube-player-feux"
      class="w-full h-full"
      src="https://www.youtube.com/embed/Lh3IBRX76_g?enablejsapi=1&rel=0"
      title="YouTube video player feux"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>
    @if (showOverlay) {
      <div
        class="absolute inset-0 bg-transparent z-20 cursor-pointer"
        (click)="playVideo()"
      ></div>
    }
  </div>

  <div class="relative mt-2">
    <!-- Rectangle décoratif -->
    <div class="absolute z-10 inset-0 translate-x-2 translate-y-2 bg-green-200 opacity-30 -z-10"></div>
    <!-- Contenu principal -->
    <div class="bg-white z-11 bg-opacity-90 shadow-md p-4 border border-green-200 text-green-900 text-center relative">
      <p>
        Retrouvez les 3 épisodes de la série "Enjeux forestiers" sur
        <a href="https://dailymotion.com/playlist/x9wk4o" target="_blank" rel="noopener" class="text-blue-600 underline hover:text-green-900">
        Dailymotion</a>.
      </p>
    </div>
  </div>