@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Light.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Light_Italic.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Light_Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Regular.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Regular_Italic.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Medium.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Medium_Italic.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Bold.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-Bold_Italic.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-ExtraBold.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/assets/fonts/marianne/Marianne-ExtraBold_Italic.woff2') format('woff2'),
       url('/assets/fonts/marianne/Marianne-ExtraBold_Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}