<div class="max-w-md mx-auto px-2">
  <!-- Onglets -->
  <div class="flex justify-center border-b border-gray-200 overflow-hidden">
    <div class="flex-1 px-4 py-2 text-center font-semibold transition focus:outline-none
            sm:px-6 sm:py-3 sm:text-lg bg-white text-green-900">
        Obligations légales de débrousaillement
    </div>
  </div>

  <!-- Contenu -->
  <div class="bg-green-900 text-white text-justify px-4 pt-2 shadow mt-0">
    <p class="mb-4 whitespace-pre-line leading-tight">
      Je suis également acteur de ma protection en
      <a href="https://vimeo.com/446755644?p=0s" target="_blank" rel="noopener noreferrer" class="underline text-blue-400 hover:text-blue-500">
        débroussaillant 50m</a> autour de ma maison et en nettoyant les toitures et gouttières. La municipalité peut mettre à disposition des broyeurs ou des bennes pour l'élimination des rémanents.
    </p>
    <img
      src="assets/images/jpg/OLD.webp"
      alt="Affiche PAPI"
      class="w-full max-w-[300px] h-auto pb-3  mx-auto"
    />
  </div>
</div>