<div class="max-w-md mx-auto px-2 py-4">
  <!-- Contenu -->
  <div class="bg-blue-900 text-white text-justify p-4 shadow mt-0">
    <span class="whitespace-pre-line">Une inondation est une submersion temporaire de zones habituellement hors d'eau suite à des précipitations soutenues. Le département de l'Hérault est particulièrement exposé aux épisodes méditerranéens communément appelés épisodes cévenols.</span>
    <span class="whitespace-pre-line hide-on-short"> Ils sont liés à des remontées d'air chaud et humide en provenance de la Méditerranée, susceptibles de produire des orages violents et de fortes pluies.</span>

    <img
      src="assets/images/svg/inondations.svg"
      alt="Inondation"
      class="mx-auto mb-4 max-h-40"
    />
  </div>
</div>