<div class="max-w-md mx-auto px-2 py-4">
  <!-- Onglets -->
  <div class="grid grid-cols-2 gap-0 border-b border-gray-200 overflow-hidden">
    @for (tab of tabs; track tab; let i = $index) {
      <button
        (click)="selectedTab = i"
        class="flex-1 px-4 py-2 text-center font-semibold transition focus:outline-none
            sm:px-6 sm:py-3 sm:text-lg"
        [ngClass]="selectedTab === i
        ? 'bg-white text-orange-900'
        : 'bg-transparent text-white hover:bg-white hover:text-orange-900'"
        type="button"
        >
        {{ tab.label }}
      </button>
    }
  </div>

  <!-- Contenu -->
  <div class="bg-orange-900 text-white text-justify p-4 shadow mt-0">
    @if (tabs[selectedTab].image) {
      <img
        [src]="tabs[selectedTab].image"
        alt="{{ tabs[selectedTab].label }}"
        class="mx-auto mb-4 max-h-40"
        />
    }
    <p class="whitespace-pre-line" [innerHTML]="tabs[selectedTab].content"></p>
    <p class="whitespace-pre-line hide-on-short" [innerHTML]="tabs[selectedTab].content1"></p>
  </div>
</div>