<div class="flex flex-col items-center justify-center w-full h-full">

  <div class="relative inline-block mt-4">
    <!-- Rectangle décoratif -->
    <div class="absolute inset-0 translate-x-2 translate-y-2 bg-orange-200 opacity-30"></div>
    <!-- Contenu principal -->
    <div class="space-y-0 bg-white bg-opacity-90 shadow-md p-4 border border-orange-200 text-orange-900 text-center relative z-10">
      <p class="text-lg font-bold">220 communes</p>
      <p class="text-sm/3">sont exposées au retrait-gonflement des argiles</p>
      <p class="text-lg font-bold pt-2">156 communes</p>
      <p class="text-sm/3">sont éxposées aux autres mouvements de terrains</p>
    </div>
  </div>

  <div id="map" class="h-[250px] w-[350px] sm:h-[250px] sm:w-[500px] mt-6"></div>
</div>

