/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use 'styles/fonts.scss';

@theme {
  --color-etat: #000091;
  --screens-short: 700px;
}

body {
  font-family: 'Marianne', sans-serif;
  overscroll-behavior-y: none; /* Désactive le pull-to-refresh sur Chrome Android */
  touch-action: none; /* Désactive le scroll tactile natif */
}

button {
  cursor: pointer;
}

@media (max-height: 800px) {
  .hide-on-short {
    display: none !important;
  }
}

@media (min-height: 800px) {
  .hide-on-long {
    display: none !important;
  }
}